<!-- 29-07-25   Data Binding -->

<!-- <div>
  <button (click)="onclick()" >Click</button>
  <div [hidden]="display">
  <p>{{detail.Name}}</p>
  <p>{{detail.Email}}</p>
  <p>{{detail.phonenumber}}</p>
  </div>
</div>

<input type="text" [(ngModel)]="detail.Name" placeholder="Name" autofocus >
<input type="email" placeholder="Email" [(ngModel)]="detail.Email">
<input type="tel" placeholder="Phone Number" [(ngModel)]="detail.phonenumber">
<button (click)="form()">Submit</button> -->

<!-- 30-07-25  Directives -->
<!-- <app-login></app-login> -->
<app-propepertylist></app-propepertylist>


