<div class="filter">
    <mat-form-field>
    <mat-select type="select" [(ngModel)]="selectedFilterButton" (selectionChange)="onSelectedRadioButton()">
    <mat-option value="All">All</mat-option>
    <mat-option value="greaterThenTen">Total Quanity greater then 10</mat-option>
    <mat-option value="lessThenTen">Total Quanity less then 10</mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput type="number" (input)="onSearchFunction()" [(ngModel)]="search">
</mat-form-field>
</div>

<h2>Carts Table</h2>
<table mat-table [dataSource]="ds" class="mat-elevation-z8" multiTemplateDataRows>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Order ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>
  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef>User ID</th>
    <td mat-cell *matCellDef="let element">{{ element.userId }}</td>
  </ng-container>
  <ng-container matColumnDef="totalProducts">
    <th mat-header-cell *matHeaderCellDef>Total Products</th>
    <td mat-cell *matCellDef="let element">{{ element.totalProducts }}</td>
  </ng-container>
  <ng-container matColumnDef="totalQuantity">
    <th mat-header-cell *matHeaderCellDef>Total Quantity</th>
    <td mat-cell *matCellDef="let element">{{ element.totalQuantity }}</td>
  </ng-container>
  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef>Total</th>
    <td mat-cell *matCellDef="let element">${{ element.total }}</td>
  </ng-container>
  <ng-container matColumnDef="discountedTotal">
    <th mat-header-cell *matHeaderCellDef>Discounted Total</th>
    <td mat-cell *matCellDef="let element">${{ element.discountedTotal }}</td>
  </ng-container>
  
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns1.length">
      <div  *ngIf="expandedElement === element">
        <table mat-table [dataSource]="element.products" class="mat-elevation-z2">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let prod">{{ prod.id }}</td>
          </ng-container>
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let prod">{{ prod.title }}</td>
          </ng-container>
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Quantity</th>
            <td mat-cell *matCellDef="let prod">{{ prod.quantity }}</td>
          </ng-container>
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let prod">${{ prod.price }}</td>
          </ng-container>
          <ng-container matColumnDef="discountPercentage">
            <th mat-header-cell *matHeaderCellDef>Discount %</th>
            <td mat-cell *matCellDef="let prod">{{ prod.discountPercentage }}%</td>
          </ng-container>
          <ng-container matColumnDef="discountedTotal">
            <th mat-header-cell *matHeaderCellDef>Discounted Total</th>
            <td mat-cell *matCellDef="let prod">${{ prod.discountedTotal }}</td>
          </ng-container>
          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef>Total</th>
            <td mat-cell *matCellDef="let prod">${{ prod.total }}</td>
          </ng-container>
 
          <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
        </table>
      </div>
    </td>
  </ng-container>
 
  <tr mat-header-row *matHeaderRowDef="displayedcolumns"></tr>
  <tr mat-row
      *matRowDef="let row; columns: displayedcolumns"
      class="element-row"
      (click)="toggleRow(row)">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>
<mat-paginator #paginator [length]="ds.data.length"
[pageSizeOptions]="[5, 10]" 
showFirstLastButtons>
</mat-paginator>