<!-- <input type="radio" name="filter" value="All" [(ngModel)]="selectedFilterButton" (change)="onSelectedRadioButton()">{{"All (" +All+")"}}
<input type="radio" name="filter" value="greaterThenTen" [(ngModel)]="selectedFilterButton" (change)="onSelectedRadioButton()">{{"Total Quantity greater then 10 (" +greaterThenTen+")"}}
<input type="radio" name="filter" value="lessThenTen" [(ngModel)]="selectedFilterButton" (change)="onSelectedRadioButton()">{{"Total Quantity less then 10 (" +lessThenTen+")"}} -->
<mat-form-field>
    <mat-select type="select" [(ngModel)]="selectedFilterButton" (selectionChange)="onSelectedRadioButton()">
    <mat-option value="All">All</mat-option>
    <mat-option value="greaterThenTen">Total Quanity greater then 10</mat-option>
    <mat-option value="lessThenTen">Total Quanity less then 10</mat-option>
    </mat-select>
</mat-form-field>
    <input type="number" (input)="onSearchFunction()" [(ngModel)]="search">

<table mat-table [dataSource]="carts" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Order ID</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
    <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef>UserID</th>
        <td mat-cell *matCellDef="let element">{{element.userId}}</td>
    </ng-container>
    <ng-container matColumnDef="totalProducts">
        <th mat-header-cell *matHeaderCellDef>Total Products</th>
        <td mat-cell *matCellDef="let element">{{element.totalProducts}}</td>
    </ng-container>
    <ng-container matColumnDef="totalQuantity">
        <th mat-header-cell *matHeaderCellDef>Total Quantity</th>
        <td mat-cell *matCellDef="let element">{{element.totalQuantity}}</td>
    </ng-container>
    <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Total Price</th>
        <td mat-cell *matCellDef="let element">{{element.total}}</td>
    </ng-container>
    <ng-container matColumnDef="discountedTotal">
        <th mat-header-cell *matHeaderCellDef>Discounted Price</th>
        <td mat-cell *matCellDef="let element">{{element.discountedTotal}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedcolumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedcolumns;"></tr>
</table>
